#myChart{
    position: fixed;
    /*border: purple solid 1px;*/
    /*height: 600px;*/
    right: 0px;
    bottom: 0px;
}

#distribution{
    position: fixed;
    /*border: purple solid 1px;*/
    right: 0px;
    top: 0px;
}

.force .cell {
    display: flex;
    margin-bottom: 5px;
}

.force .cell input[type='number'] {
    width: 40%;
    margin-left: auto;
}

.force .cell label {
    font-size: 110%;
}