#myChart{
    position: fixed;
    /*border: purple solid 1px;*/
    /*height: 600px;*/
    right: 0px;
    bottom: 0px;
}

.force .cell {
    display: flex;
    margin-bottom: 5px;
}

.force .cell input[type='number'] {
    width: 40%;
    margin-left: auto;
}

.force .cell label {
    font-size: 110%;
}

select{
    margin-bottom: 5px;
}

.chartAndTabs {
    position: fixed;
    right: 0px;
    top: 0px;
}

.tabs{
    background-color: #fafafa;
    display: flex;
}

.tabs button {
    background-color: inherit;
    border:none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
}

.tabs button:hover{
    background-color: #ddd;
}

.tabs button.active {
    background-color: #d1d1d1;
}